@font-face {
    font-family: "TT Lakes Light";
    src: url("./fonts/TTLakes-Light.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes Regular";
    src: url("./fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes Bold";
    src: url("./fonts/TTLakes-Bold.woff") format("woff");
}

.burger-menu {
    width: 320px;
    height: 1024px;
    font-family: "TT Lakes Regular";
    font-size: 16px;
    line-height: 24px;
    box-shadow: 16px 0  52px 0 #0E185033,
                -2px 0  4px 0 #454F7E05;
}

.nav-menu__nav-list a,
.address-details a,
.lang-switcher a {
    color: #1B1C21;
}

.burger-menu__top-bar {
    padding-top: 18.73px;
    margin-bottom: 46.27px;
}

.top-bar {
    display: flex;
    align-items: center;
}

.top-bar__cross-btn {
    margin-left: 24px;
}

.top-bar__logo-link {
    margin-left: 16.73px;
}

.top-bar__search-btn {
    margin-left: auto;
    margin-right: 24px;
}

.burger-menu__nav-menu {
    margin-bottom: 268px;
}

.nav-menu {
    position: relative;
}

.nav-menu__nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-left: 24px;
}

.nav-menu__nav-list a {
    display: flex;
    align-items: center;
}

.nav-menu__nav-list a:hover {
    color: #7E7E82;
}

.nav-menu__nav-list a:hover::before {
    content: "";
    background-image: url("img/highlight.svg");
    width: 4px;
    height: 32px;
    position: absolute;
    left: 0;
}

.burger-menu__contacts {
    padding-left: 24px;
}

.contacts__bottom-bar {
    margin-bottom: 16px;
}

 .bottom-bar {
    display: flex;
    gap: 16px;
 }

.contacts__address-details {
    margin-bottom: 40px;
}

.address-details {
    font-style: normal;
}

.address-details__mail {
    margin-bottom: 12px;
}

.address-details__phone-number {
    font-family: "TT Lakes Bold";
    font-size: 24px;
    line-height: 32px;
}

.lang-switcher {
    display: flex;
    gap: 7px;
}

.lang-switcher a.active {
    color: #7E7E82;
    pointer-events: none;
    cursor: default;
}

.top-bar button:hover,
.top-bar__logo-link:hover,
.bottom-bar button:hover {
    filter: opacity(60%);
    transition-duration: 0.5s;
}